params.homeDir = System.getProperty('user.home')
params.workDir = System.getenv('NXF_WORK') ?: "${params.homeDir}/.nextflow/work"
params.condaCacheDir = System.getenv('NXF_CONDA_CACHEDIR') ?: "${params.workDir}/conda"

workDir = params.workDir

conda {
    enabled  = true
    useMamba = true
    cacheDir = params.condaCacheDir
    createTimeout = '2h'
}
